*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3E6D9C;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header{
    width: 90%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.navbar{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.navbar a{
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

.navbar a li{
    list-style: none;
    text-decoration: #ffffff;
}

.colornavbar{
    width: 90%;
    background-color: #FD841F;
}

.cuenta{

}

.iconos{
    margin-bottom: 0;
    padding-bottom: 0;
    height: 32px;
    width: 32px;
    border-style: solid;
    color: black;
}

.titulo{
    margin: 50px;
    display: flex;
    justify-content: center;
    

}

.trending1{ 
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

.container{
    display: flex;
    height: 200px;
    width: 280px;
    background-color: white;
    border-style: solid;
    border-top: 0px;
    border-width: 2px;
    border-color: gray;
}

.seccion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.boxs{   
    display: flexbox;
    width: 50px;
    height: 50px;
}

.box{
    height: 200px;
    width: 200px;
}

.box1{
    background-color: red;
    border-radius: 100px;
    width: 16px;
    height: 16px;
}

.box2{
    background-color: black;
    border-radius: 100px;
    width: 16px;
    height: 16px;
}

.box3{
    background-color: orangered;
    border-radius: 100px;
    width: 16px;
    height: 16px;
}

.somos{
    background-color: blue;
    width: 200px;
    height: 20px;
}

.somos p{
    text-align: center;
    text-decoration-color: white;
}

.footer{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    background-color: #FD841F
}

.footer p{
    display: flex;
    align-items: center;
}


.footer a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 10px;
}

.login{
    padding: 48px 40px 36px;
    margin: 20px;
    display: flex;
    width: 50%;
    border-style: solid;
    background-color: #dbe2f3;
    flex-direction: column;
    min-height: 500px;
    justify-content: space-evenly;
}

.crear{
    display: flex;
    justify-content: space-evenly;
}

.espacio{
    display: flex;
}


.loginbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginbox form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.ingresar{
    padding: 10px 15px;
    background-color: #00eeff;
    color: white;
    text-decoration: none;
}

.ingresar:hover {
    background-color: #223094;
  }


@media(max-width:768px){
.seccion{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

.container{
        display: flex;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    
    
    .navbar {
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        }

.titulo2{
    display: none;
}

.login{
    width: 100%;
}

}

@media (min-width:320px){

}