header{
    background-color: $bg-secundario;
    width: 100%;
    clear: both;
    content: "";
    display: table;
    display: flex;
        .menu{
            width: 900px;
            margin: 0 auto;
        }
        nav{
            width: 100%;
            float: right;
        }
    }
nav{
        .navbar{
            li,h2, form{
                list-style: none;
                margin-left: 60px;
                padding: 25px 0px;
                float: left;
                    a{
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        &:hover{
                            color: rgb(0, 26, 255);
                        }
            }
        }
    }
}

